#body{
    display: flex;
    width: 100vw;
    min-height: 100vh;
}
.navbar{
    padding-top: 30px;
    padding-left: 20px;
    flex:1;
    text-decoration: none;
    color: azure;
    background-color: rgb(34, 53, 90);
}
.content{
    flex:10;
    background-color:azure;
    min-height: 100vh;
}
p{
    color: azure;
    margin-top: 50px;
    text-decoration: underline;
    font-size: larger;
}