
/* .products-list{
    display: flex;
    flex-wrap: wrap;
} */
/* .product-thumbnail{
    width: 200px;
    height: 250px;
} */

td{
    width:150px;
    margin-left: 20px;
    height: 1.5em;
    border-bottom: 1px solid black;
    text-align: left;
    
}
th{
    text-align: left;
} 